/* vavbar */
.navbar-brand img{
    max-width: 100%;
    width:150px;
    /* height:89.5px; */
}
/* banner */
.buy-now-button {
    border: none;
    border-radius: 8px;
    color: #fff;
    background: black;
    padding: 9px 23px;
}
.carousel-indicators [data-bs-target]{
        box-sizing: content-box;
        flex: 0 1 auto;
        width:35px;
        height:5px;
        padding:5;
        text-indent: -999px;
        cursor: pointer;
        background-color: #FFB825;
        background-clip: padding-box;
        border: 0;
        border-radius:5px;
}
.slide{
    background:url(./img/bg-2.png);
    background-repeat:no-repeat;
    background-position:-9% 150%; 
}
/* section */
section{
    margin-bottom:85px;
}
/* phone */
.card {
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    padding:15px 20px;
}
/* Categories */
.cat{
    border-bottom:5px solid #FFB825;
    font-weight:700;
}
.contact {
    height: 300px;
}
.color-bg{
    background:#f3f3f3;
    border-radius:8px;
}